.gallery {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .gallery-item {
    flex: 0 1 30%;
    text-align: center;
    @media (max-width: $break-small) {
      -webkit-box-flex: 100%;
      -moz-box-flex:  100%;
      -webkit-flex:  100%;
      -ms-flex:  100%;
      flex: 100%;
    }
    img {
      width: 150px;
      height: 150px;
      margin-bottom: 50px;
      border-radius: 50%;
      object-fit: cover;
    }
  }
  .gallery-link {
    margin-top: -20px;
    text-transform: uppercase;
  }
}
